{:paths   ["src" "classes"]

 :deps
          {org.clojure/clojure               {:mvn/version "1.10.1"}
           clj-time                          {:mvn/version "0.14.2"}
           javax.servlet/servlet-api         {:mvn/version "2.5"}
           org.apache.activemq/activemq-core {:mvn/version "5.7.0"}
           org.slf4j/slf4j-simple            {:mvn/version "1.7.30"}
           amperity/vault-clj                {:mvn/version "0.5.1"}}

 :aliases {:test     {:extra-paths ["test"]
                      :extra-deps  {lambdaisland/kaocha {:mvn/version "1.0.629"}}
                      :main-opts   ["-m" "kaocha.runner"]}
           :uberdeps {:extra-deps {uberdeps {:mvn/version "0.1.10"}}
                      :main-opts  ["-m" "uberdeps.uberjar"]}}
 }
