;; Configuration file for Kaocha test runner
;;
#kaocha/v1
    {:tests           [{:kaocha.testable/id :unit,
                        :kaocha/ns-patterns ["ptc\\.unit\\..*-test$"]}
                       {:kaocha.testable/id :integration,
                        :kaocha/ns-patterns ["ptc\\.integration\\..*-test$"]}]

     :color?          true
     :reporter        [kaocha.report.progress/report]
     :capture-output? true}
