{:mvn/repos
 {"central" {:url "https://repo1.maven.org/maven2/"}
  "clojars" {:url "https://clojars.org/repo"}}

 :deps
 {org.clojure/clojure               {:mvn/version "1.11.1"}
  org.clojure/data.json             {:mvn/version "2.4.0"}
  amperity/vault-clj                {:mvn/version "1.1.2"}
  javax.jms/javax.jms-api           {:mvn/version "2.0.1"}
  org.apache.activemq/activemq-core {:mvn/version "5.7.0"}
  org.slf4j/slf4j-nop               {:mvn/version "1.7.36"}} ; sigh

 :paths ["src"]

 :aliases
 {:jms
  {:main-opts ["-m" "jms.main"]}

  :check-format
  {:extra-deps {cljfmt/cljfmt {:mvn/version "0.8.0"}}
   :main-opts  ["-m" "cljfmt.main" "check"]}

  :format
  {:extra-deps {cljfmt/cljfmt {:mvn/version "0.8.0"}}
   :main-opts  ["-m" "cljfmt.main" "fix"]}

  :run
  {:main-opts   ["-m" "jms.main"]}

  :uberjar
  {:extra-deps {uberdeps/uberdeps {:mvn/version "1.0.4"}}}}}
